@model List<MvcCv.Models.entity.TblEğitim>
<div class="resume-section-content">
    <h2 class="mb-5">Eğitimlerim</h2>
    @foreach (var eğitimler in Model)
    {
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@eğitimler.Başlık</h3>
                <div class="subheading mb-3">@eğitimler.AltBaşlık</div>
                <div>@eğitimler.AltBaşlık2</div>
                <p>GPA: @eğitimler.GNO</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@eğitimler.Tarih</span></div>
        </div>
    }
</div>

