@model List<MvcCv.Models.entity.TblHobilerim>
<div class="resume-section-content">
    <h2 class="mb-5">Hobilerim</h2>
    @foreach (var hobiler in Model)
    {
        <p>@hobiler.Acıklama1</p>
        <p class="mb-0">@hobiler.Açıklama2</p>
    }
</div>

