@model List<MvcCv.Models.entity.TblSeltifikalarım>
<div class="resume-section-content">
    <h2 class="mb-5">Ödüller & Seltifikalar</h2>
    <ul class="fa-ul mb-0">
        @foreach (var seltifika in Model)
        {
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                @seltifika.Açıklama
            </li>
        }
    </ul>
</div>
